/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: "Lato", sans-serif;
}

/* Header */
header {
    background-color: rgb(210, 147, 65);
}

h1 {
    font-family: "Oswald", sans-serif;
}

/* Main Content */
main {
    background-color: aqua;
}

/* Footer Content */
footer {
    background-color: rgb(81, 50, 12);
}