/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: bisque
}

/* Header */
header {
    background-color: rgb(42, 129, 33);
}

/* Main Content */
main {
    background-color: aqua;
}

/* Footer Content */
footer {
    background-color: rgb(81, 50, 12);
}